# venvs
.venv/
venv/
**/.venv/
**/venv/
.venv311/
venv311/

# model/data/checkpoints
models/
**/models/**
checkpoints/
**/checkpoints/**
weights/
**/weights/**
datasets/
**/datasets/**

# common big file types
*.gguf
*.safetensors
*.pt
*.bin
*.ckpt
*.onnx
*.zip
*.7z
*.rar
*.tar
*.tar.gz